
@import "tailwindcss";

@theme{
    --color-dark : #171d25;
    --color-milk : #a8acab;
    --color-light : #dcdedf;
    --color-root: #1b2838;
    
}

.noto_sans {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b2838;
    font-family: "Noto Sans", sans-serif;
    color: white;
  }

*, *::before, *::after {
    box-sizing: inherit;
}

.swiper-wrapper {
    padding: 10px;
    margin-bottom: 20px;
  }
  

.custom-swiper-scrollbar .swiper-scrollbar {
    background-color: transparent;
    height: 6px;
    border-radius: 8px;
}

.custom-swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #434953;
    border-radius: 10px;
}